.myCustomTemplate {
  background: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  p {
    margin: 0 0 10px;
    font-weight: bold;
  }
}
