<form [formGroup]="form" (ngSubmit)="openAlert()">
  <div>
    <label
      >Heading:
      <input type="text" formControlName="heading" />
    </label>
  </div>
  <div>
    <label
      >Body:
      <input type="text" formControlName="body" />
    </label>
  </div>
  <div>
    <label
      >Type:
      <input type="text" formControlName="type" />
    </label>
  </div>
  <div>
    <label
      >Duration:
      <input type="text" formControlName="duration" />
    </label>
  </div>
  <button>Open ALert</button>
</form>

<button (click)="alert.clearAll()">clear</button>

<ng-template let-data>
  <div>
    <div>{{ data.msg }}</div>
  </div>
</ng-template>
