<form [formGroup]="form" (ngSubmit)="openAlert()">
  <div>
    <label
      >Heading:
      <input type="text" formControlName="heading" />
    </label>
  </div>
  <div>
    <label
      >Body:
      <input type="text" formControlName="body" />
    </label>
  </div>
  <div>
    <label
      >Type:
      <input type="text" formControlName="type" />
    </label>
  </div>
  <div>
    <label
      >Duration:
      <input type="text" formControlName="duration" />
    </label>
  </div>
  <div>
    <label
      >template:
      <select formControlName="template">
        <option value="defaultTemplate">template 1</option>
        <option value="defaultTemplate1">template 2</option>
      </select>
    </label>
  </div>
  <div>
    <label
      >position:
      <select formControlName="position">
        <option value="BottomRight">BottomRight</option>
        <option value="BottomLeft">BottomLeft</option>
        <option value="TopLeft">TopLeft</option>
        <option value="TopRight">TopRight</option>
        <option value="BottomCenter">BottomCenter</option>
        <option value="TopCenter">TopCenter</option>
      </select>
    </label>
  </div>
  <button>Open ALert</button>
</form>

<button (click)="alert.clearAll()">clear</button>

<ng-template #defaultTemplate let-data1>
  <div class="myalert myCustomTemplate" [ngClass]="data1.type || 'success'">
    <p>{{ data1.heading }}</p>
    <p>{{ data1.msg }}</p>
  </div>
</ng-template>

<ng-template #defaultTemplate1 let-data1>
  <div class="myalert myCustomTemplate" [ngClass]="data1.type || 'success'">
    <p>{{ data1.msg }}</p>
  </div>
</ng-template>
