.alertjs {
    position: fixed;
    right: 10px;
    width: 312px;
    max-width: 94%;
    z-index: 30;
}

@media (min-width: 768px) {
    .alertjs {
        bottom: 15px;
    }
}

@media (max-width: 767px) {
    .alertjs {
        top: 0;
    }
}